{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<form method="post">
	<label class="form-control-label" for="establishment">Selectionner l'établissement :</label>
	<div class="row form-group">
		<select class="form-control col-6 mx-3" id="establishment" name="establishment_choice">
			{% if app.request.request.get('establishment_choice') != 0 %}
				{% for establishment in establishments %}
				{% set selected = "" %}
				{% if establishment.id == app.request.request.get('establishment_choice') %}
				{% set selected = "selected" %}
				{% endif %}
				<option value="{{ establishment.id }}" {{ selected }}>{{ establishment.name }}</option>
				{% endfor %}
			{% else %}
				{% for establishment in establishments %}
				{% set selected = "" %}
				{% if establishment.id == teacher.establishment.id %}
				{% set selected = "selected" %}
				{% endif %}
				<option value="{{ establishment.id }}" {{ selected }}>{{ establishment.name }}</option>
				{% endfor %}
			{% endif %}
		</select>
		<button type="submit" class="btn btn-primary">Actualiser</button>
	</div>
</form>

{# formulaire de modification d'un administrateur #}
{{ form_start(form) }}

<label class="form-check-label" for="classroom">Selectionner les classes :</label>
<div class="form-inline">
	{% for classroom in classrooms %}
	{% set checked = "" %}
	{% for classroom_checked in teacher.classrooms %}
	{% if classroom.id == classroom_checked.id %}
	{% set checked = "checked" %}
	{% endif %}
	{% endfor %}
	<input class="form-check-input ml-4 mr-1 mt-2 mb-3" type="checkbox" id="classroom{{classroom.id}}" {{ checked }} name="classroom[]" value="{{classroom.id}}"><label class=" mx-1 mt-2 mb-3" for="classroom{{classroom.id}}">{{classroom.degree}}</label>
	{% endfor %}
</div>

<input type="hidden" name="establishment" value="{% if app.request.request.get('establishment_choice') is not null %}{{ app.request.request.get('establishment_choice') }}{% else %}{{app.request.request.get('establishment_choice')}}{% endif %}">
{{ form_row(form.lastName, {'label':'Nom :'}) }}
{{ form_row(form.firstName, {'label':'Prénom :'}) }}
{{ form_row(form.email, {'label':'Email :'}) }}

{{ form_row(form.exist, {'label':"Activer l'enseignant :"}) }}

<button class="btn btn-primary">Mettre à jour</button>

{% if app.user.roles[0] == "ROLE_SADMIN" %}
    <a href=" {{ path('teacher_delete', {'id': teacher.id}) }}" class="btn btn-danger">Supprimer</a>
{% endif %}

{{ form_end(form) }}

{% endblock %}
