{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

{# formulaire de modification d'établissement #}
{{ form_start(form) }}

{{ form_row(form.name, {'label':"Nom de l'établissement :"}) }}
{{ form_row(form.adress, {'label':'Adresse :'}) }}
{{ form_row(form.postalcode, {'label':'Code postal :'}) }}
{{ form_row(form.city, {'label':'Ville :'}) }}
{{ form_row(form.latitude, {'label':'Latitude :'}) }}
{{ form_row(form.longitude, {'label':'Longitude :'}) }}
{{ form_row(form.backgroundurl, {'label':"Url de l'image de l'écran de connexion :"}) }}
{{ form_row(form.exist, {'label':"Activer l'établissement :"}) }}
<div class="form-group">
	<label>Selectionner le département :</label>
	<select class="form-control" name="id">
		{% for dept in depts %}
		{% set selected = "" %}
		{% if dept.id == choice_dept %}
		{% set selected = "selected" %}
		{% endif %}
		<option value="{{ dept.id }}" {{ selected }}>{{ dept.name }}</option>
		{% endfor %}
	</select>	
</div>

<button class="btn btn-primary">Mettre à jour</button>

{% if app.user.roles[0] == "ROLE_SADMIN" %}
	<a href=" {{ path('establishment_delete', {'id': establishment.id}) }}" class="btn btn-danger">Supprimer</a>
{% endif %}

{{ form_end(form) }}

{% endblock %}

