{% extends 'base.html.twig' %}

{% block body %}
	
	<form class="text-center w-25 mx-auto" method="post">
		<select class="form-control my-2" name="dept_choice">
		<option value="" selected="selected">Choix du département</option>
		{% for dept in depts %}
		{% set selected = "" %}
		{% if dept.id == app.request.request.get('dept_choice') %}
		{% set selected = "selected" %}
		{% endif %}
		<option value="{{ dept.id }}" {{ selected }}>{{ dept.name }}</option>
		{% endfor %}
		</select>

		{% if (app.request.request.get('dept_choice') != "") %}
		<select class="form-control my-2" name="etb_choice">
		<option value="">Choix de l'établissement</option>
		{% for etb in etbs %}
		<option value="{{ etb.slug }}">{{ etb.name }}</option>
		{% endfor %}
		</select>
		{% endif %}
		<button type="submit" class="btn btn-success">Valider</button>
	</form>
{% endblock %}
