{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

{{ form_start(form) }}
{{ form_row(form.oldPassword) }}
{{ form_row(form.newPassword) }}
{{ form_row(form.confirmPassword) }}
{{ form_row(form.save) }}
{{ form_end(form) }}
<p>* champs obligatoires</p>

{% endblock %}