{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

	{% block body %}

		{# formulaire de modification d'un administrateur #}
		{{ form_start(form) }}
		{{ form_row(form.establishment, {'label':'Sélectionner l\'établissement :', 'attr':{'onchange':"recup();"}}) }}
		<label class="form-check-label" for="classroom">Selectionner les classes :</label>
		{% for establishment in establishments %}
			<div class="form-inline establishment d-none" id="establishment_{{establishment.id}}">
				{% for classroom in establishment.classrooms %}{% set checked = "" %}
					{% if classroom.id == student.classroom.id %}{% set checked = "checked" %}
					{% endif %}
					<input class="form-check-input ml-4 mr-1 mt-2 mb-3" type="checkbox" id="classroom{{classroom.id}}" {{ checked }} name="classroom[]" value="{{classroom.id}}"><label class=" mx-1 mt-2 mb-3" for="classroom{{classroom.id}}">{{classroom.degree}}</label>
				{% endfor %}
			</div>
		{% endfor %}
		{{ form_row(form.candidateNb, {'label':'Numéro de candidat :'}) }}
		{{ form_row(form.user.lastName, {'label':'Nom :'}) }}
		{{ form_row(form.user.firstName, {'label':'Prénom :'}) }}
		{{ form_row(form.user.email, {'label':'Email :'}) }}
		{{ form_row(form.birthDate, {'label':'Date de naissance :'}) }}
		{{ form_row(form.user.exist, {'label':"Activer l'enseignant :"}) }}
		{{ form_row(form.save, {'label':"Enregistrer"}) }}
		{{ form_end(form) }}

	{% endblock %}
	{% block javascripts %}
		<script>
		var select = document.getElementById("student_establishment" );
		student_establishment.addEventListener('onchange',recup);
		function recup(){
			var valeur = select.options[select.selectedIndex].value;
			$(".establishment").addClass("d-none");
			$("#establishment_"+valeur).removeClass("d-none");
			// console.log(valeur);
		};
		$(document).ready(function(){
			recup();
		});
		</script>
	{% endblock %}
