{% extends 'base.html.twig' %}

{% block body %}

    {# Affichage du tableau des étudiants #}
    <div class="row">
        <div class="col-3">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nom : {{student.user.lastName}}</li>
                    <li class="list-group-item">Prénom : {{student.user.firstName}}</li>
                    <li class="list-group-item">Email : {{student.user.email}}</li>
                    <li class="list-group-item">Date de naissance : {{student.birthDate | date("d/m/Y")}}</li>
                    <li class="list-group-item">Etablissement : {{student.establishment.name}}</li>
                    <li class="list-group-item">Classe : {{student.classroom.degree}}</li>
                    <li class="list-group-item">Professeurs : <ul>{% for teacher in student.classroom.teachers %}<li>{{teacher.user.lastName}}</li>{% endfor %}</ul></li>
                    <li class="list-group-item">Crée le : {{ student.createdAt | date("d/m/Y") }}</li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <h5>Passeport professionnel</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Numéro du passeport</th>
                        <th scope="col">Nombre de fiches</th>
                        <th scope="col">Progression</th>
                        <th scope="col">Crée le</th>
                        <th scope="col">Actif</th>
                    </tr>
                </thead>
                <tbody>
                    {% for passport in student.passports %}{% set card = passport.cards|length %}{% set pourcent = card * 16.66 %}{% set pourcent = pourcent | round %}
                        <tr>
                            <td><a href="{{ path('passport_show', {'id': passport.id,}) }}">{{ passport.id }}</a></td>
                            <td><a href="{{ path('passport_show', {'id': passport.id,}) }}">{{ passport.cards|length }} fiche(s)</a></td>
                            <td><a href="{{ path('passport_show', {'id': passport.id,}) }}"><div class="progress my-1"><div class="progress-bar {% if pourcent >= "99%" %}bg-success{% endif %}" role="progressbar" style="width:{{ pourcent }}%" aria-valuenow="{{ pourcent }}" aria-valuemin="0" aria-valuemax="100">{% if pourcent >= "99%" %}Consulter{% else %}{{ pourcent }}%{% endif %}</div></div></a></td>
                            <td><a href="{{ path('passport_show', {'id': passport.id,}) }}">{{ passport.createdAt|date("d/m/Y") }}</a></td>
                            <td><a></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h5>Liste des fiches d'analyse de situation professionnel</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Numéro de la fiche</th>
                        <th scope="col">Progression</th>
                        <th scope="col">Crée le</th>
                        <th scope="col">Actif</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in student.cards %}{% set pourcentCard = 100 %}
                        {% if card.entitledsp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.infossp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.framesp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.problemmanagsp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.problemcomosp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.problemcomwsp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.actorssp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.targetsp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.conditionssp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.resourcessp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.answerssp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.productionssp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.writtensp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.oralsp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.contributionsp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.analysissp is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.problem is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.modality is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.term is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        {% if card.activity is empty %}{% set pourcentCard = pourcentCard - 5 %}{% endif %}
                        <tr>
                            <td><a href="{{ path('card_show', {'id': card.id,}) }}">{{ card.numbersp }}</a></td>
                            <td><a href="{{ path('card_show', {'id': card.id,}) }}"><div class="progress my-1"><div class="progress-bar {% if pourcentCard >= "99%" %}bg-success{% endif %}" role="progressbar" style="width: {{pourcentCard}}%" aria-valuenow="{{pourcentCard}}" aria-valuemin="0" aria-valuemax="100">{% if pourcentCard >= "99%" %}Consulter{% else %}{{ pourcentCard }}%{% endif %}</div></div></a></td>
                            <td><a href="{{ path('card_show', {'id': card.id,}) }}">{{ card.createdAt|date("d/m/Y") }}</a></td>
                            <td><a class="{% if card.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('card_show', {'id': card.id}) }}">{% if card.exist == 1 %} oui {% else %} non {% endif %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}