{% extends 'base.html.twig' %}

{% block body %}

	<h5>Liste des activités :</h5>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Nom</th>
				<th>Compétence</th>
				<th>Tâches</th>
			</tr>
		</thead>
		<tbody>
			{% for activity in activities %}
			<tr>
				<td>{{activity.number}}</td>
				<td>{{activity.name}}</td>
				<td>{{activity.skill}}</td>
				<td>
					{% for task in activity.tasks %}
					{{task.number}} {{task.name}}<br>
					{% endfor %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<h5>Liste des problèmes :</h5>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Nom</th>
			</tr>
		</thead>
		<tbody>
			{% for problem in problems %}
			<tr>
				<td>{{problem.number}}</td>
				<td>{{problem.title}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<h5>Liste des modalités :</h5>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Nom</th>
			</tr>
		</thead>
		<tbody>
			{% for modality in modalities %}
			<tr>
				<td>{{modality.number}}</td>
				<td>{{modality.title}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<h5>Liste des conditions :</h5>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Nom</th>
			</tr>
		</thead>
		<tbody>
			{% for term in terms %}
			<tr>
				<td>{{term.number}}</td>
				<td>{{term.title}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}