<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Sujet</th>
			<th scope="col">Destinataire</th>
			<th scope="col">Créée le</th>
			<th scope="col" style="width: 15%;">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for tchatForwarder in tchatsForwarder %}
			<tr>
				<td>{{tchatForwarder.id}}</td>
				<td>{{tchatForwarder.topic}}</td>
				<td>{{tchatForwarder.recipient.LastName}} {{tchatForwarder.recipient.FirstName}}</td>
				<td>{{tchatForwarder.createdAt | date('d/m/Y')}}</td>
				<td class="py-1">
					<a href="{{ path('tchat_show', {id : tchatForwarder.id}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Voir"><i class="far fa-file-alt"></i></a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>