{% if app.user.title == "ROLE_SADMIN" %}
	<table class="table table-striped table-responsive-xl">
		<thead>
			<tr>
				<th scope="col">Numéro</th>
				<th scope="col">Nom</th>
				<th scope="col" style="width: 15%;">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for modality in modalities %}
				<tr>
					<td>{{modality.entitle}}</td>
					<td>{{modality.name}}</td>
					<td class="py-1">{% set dataId = modality.id %}{% set dataLink = path('referentiel_modality_delete', {'id': modality.id,}) %}
						<a href="{{ path('referentiel_modality_modify', {'id': modality.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="far fa-edit"></i></a>
						{% include 'partials/modals/confirm.html.twig' %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if app.user.title == "ROLE_ADMIN" %}
	<table class="table table-striped table-responsive-xl">
		<thead>
			<tr>
				<th scope="col">Numéro</th>
				<th scope="col">Nom</th>
				<th scope="col" style="width: 15%;">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for modality in modalities %}
				<tr>
					<td>{{modality.entitle}}</td>
					<td>{{modality.name}}</td>
					<td class="py-1">{% set dataId = modality.id %}{% set dataLink = path('referentiel_modality_delete', {'id': modality.id,}) %}
						<a href="{{ path('referentiel_modality_modify', {'id': modality.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="far fa-edit"></i></a>
						{% include 'partials/modals/confirm.html.twig' %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if app.user.title == "ROLE_TEACHER" %}
	<table class="table table-striped table-responsive-xl">
		<thead>
			<tr>
				<th scope="col">Numéro</th>
				<th scope="col">Nom</th>
			</tr>
		</thead>
		<tbody>
			{% for modality in modalities %}
				<tr>
					<td>{{modality.entitle}}</td>
					<td>{{modality.name}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if app.user.title == "ROLE_USER" %}
	<table class="table table-striped table-responsive-xl">
		<thead>
			<tr>
				<th scope="col">Numéro</th>
				<th scope="col">Nom</th>
			</tr>
		</thead>
		<tbody>
			{% for modality in modalities %}
				<tr>
					<td>{{modality.entitle}}</td>
					<td>{{modality.name}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}