{% if app.user.title == "ROLE_SADMIN" %}
	<table class="table table-striped table-responsive-xl">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Email</th>
				<th scope="col">Nb de fiche</th>
				<th scope="col">Crée le</th>
				<th scope="col">Actif</th>
				<th scope="col" style="width: 15%;">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
				<tr>
					<td>{{ student.id }}</td>
					<td>{{ student.user.lastName | upper }}</td>
					<td>{{ student.user.firstName }}</td>
					<td>{{ student.user.email }}</td>
					<td>{{ student.cards | length }}</td>
					<td>{{ student.user.createdAt | date('d/m/Y') }}</td>
					<td class="{% if student.user.exist == true %}text-success{% else %}text-danger{% endif %}">{% if student.user.exist == true %} oui {% else %} non {% endif %}</td>
					<td class="py-1">
						<a href="{{ path('student_show', {'id': student.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Voir"><i class="far fa-file-alt"></i></a>
						<a href="{{ path('student_modify', {'id': student.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="far fa-edit"></i></a>
						{% if student.user.exist == false %}{% set dataId = student.id %}{% set dataLink = path('student_delete', {'id': student.id,}) %}
							<a href="{{ path('student_enable', {'id': student.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Activer"><i class="far fa-eye"></i></a>
							{% include 'partials/modals/confirm.html.twig' %}
						{% else %}
							<a href="{{ path('student_disable', {'id': student.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Désactiver"><i class="far fa-eye-slash"></i></a>
						{% endif %}
					</td>
				</tr>
			{% endfor %} 
		</tbody>
	</table>
{% endif %}

{% if app.user.title == "ROLE_ADMIN" %}
	<table class="table table-striped table-responsive-xl">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Email</th>
				<th scope="col">Nb de fiche</th>
				<th scope="col">Crée le</th>
				<th scope="col">Actif</th>
				<th scope="col" style="width: 15%;">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
				<tr>
					{% if student.establishment.id == app.user.admin.establishment.id %}
						<td>{{ student.id }}</td>
						<td>{{ student.user.lastName | upper }}</td>
						<td>{{ student.user.firstName }}</td>
						<td>{{ student.user.email }}</td>
						<td>{{ student.cards | length }}</td>
						<td>{{ student.user.createdAt | date('d/m/Y') }}</td>
						<td class="{% if student.user.exist == true %}text-success{% else %}text-danger{% endif %}">{% if student.user.exist == true %} oui {% else %} non {% endif %}</td>
						<td class="py-1">
							<a href="{{ path('student_show', {'id': student.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Voir"><i class="far fa-file-alt"></i></a>
							<a href="{{ path('student_modify', {'id': student.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="far fa-edit"></i></a>
							{% if student.user.exist == false %}
								<a href="{{ path('student_enable', {'id': student.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Activer"><i class="far fa-eye"></i></a>
							{% else %}
								<a href="{{ path('student_disable', {'id': student.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Désactiver"><i class="far fa-eye-slash"></i></a>
							{% endif %}
						</td>
					{% endif %}
				</tr>
			{% endfor %} 
		</tbody>
	</table>
{% endif %}

{% if app.user.title == "ROLE_TEACHER" %}
	<table class="table table-striped table-responsive-xl">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Email</th>
				<th scope="col">Nb de fiche</th>
				<th scope="col">Crée le</th>
				<th scope="col">Actif</th>
				<th scope="col" style="width: 15%;">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
				{% if student.user.exist == true %}
					<tr>
						{% if student.establishment.id == app.user.teacher.establishment.id %}
							<td>{{ student.id }}</td>
							<td>{{ student.user.lastName | upper }}</td>
							<td>{{ student.user.firstName }}</td>
							<td>{{ student.user.email }}</td>
							<td>{{ student.cards | length }}</td>
							<td>{{ student.user.createdAt | date('d/m/Y') }}</td>
							<td class="{% if student.user.exist == true %}text-success{% else %}text-danger{% endif %}">{% if student.user.exist == true %} oui {% else %} non {% endif %}</td>
							<td class="py-1">
								<a href="{{ path('student_show', {'id': student.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Voir"><i class="far fa-file-alt"></i></a>
							</td>
						{% endif %}
					</tr>
				{% endif %}
			{% endfor %} 
		</tbody>
	</table>
{% endif %}

{% if app.user.title == "ROLE_USER" %}
	<table class="table table-striped table-responsive-xl">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Prénom</th>
				<th scope="col">Email</th>
				<th scope="col">Nb de fiche</th>
				<th scope="col">Crée le</th>
				<th scope="col">Actif</th>
				<th scope="col" style="width: 15%;">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for student in students %}
				{% if student.user.exist == true and student.id != app.user.student.id %}
					<tr>
						{% if student.establishment.id == app.user.student.establishment.id %}
							<td>{{ student.id }}</td>
							<td>{{ student.user.lastName | upper }}</td>
							<td>{{ student.user.firstName }}</td>
							<td>{{ student.user.email }}</td>
							<td>{{ student.cards | length }}</td>
							<td>{{ student.user.createdAt | date('d/m/Y') }}</td>
							<td class="{% if student.user.exist == true %}text-success{% else %}text-danger{% endif %}">{% if student.user.exist == true %} oui {% else %} non {% endif %}</td>
							<td class="py-1">
								<a href="{{ path('student_show', {'id': student.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Voir"><i class="far fa-file-alt"></i></a>
							</td>
						{% endif %}
					</tr>
				{% endif %}
			{% endfor %} 
		</tbody>
	</table>
{% endif %}