{% if app.user.title == "ROLE_SADMIN" %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Numéro</th>
				<th scope="col">Nom</th>
				<th scope="col" style="width: 15%;">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for term in terms %}
				<tr>
					<td>{{term.entitle}}</td>
					<td>{{term.name}}</td>
					<td class="py-1">{% set dataId = term.id %}{% set dataLink = path('referentiel_term_delete', {'id': term.id,}) %}
						<a href="{{ path('referentiel_term_modify', {'id': term.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="far fa-edit"></i></a>
						{% include 'partials/modals/confirm.html.twig' %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if app.user.title == "ROLE_ADMIN" %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Numéro</th>
				<th scope="col">Nom</th>
				<th scope="col" style="width: 15%;">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for term in terms %}
				<tr>
					<td>{{term.entitle}}</td>
					<td>{{term.name}}</td>
					<td class="py-1">{% set dataId = term.id %}{% set dataLink = path('referentiel_term_delete', {'id': term.id,}) %}
						<a href="{{ path('referentiel_term_modify', {'id': term.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="far fa-edit"></i></a>
						{% include 'partials/modals/confirm.html.twig' %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if app.user.title == "ROLE_TEACHER" %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Numéro</th>
				<th scope="col">Nom</th>
			</tr>
		</thead>
		<tbody>
			{% for term in terms %}
				<tr>
					<td>{{term.entitle}}</td>
					<td>{{term.name}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if app.user.title == "ROLE_USER" %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Numéro</th>
				<th scope="col">Nom</th>
			</tr>
		</thead>
		<tbody>
			{% for term in terms %}
				<tr>
					<td>{{term.entitle}}</td>
					<td>{{term.name}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}