<style type="text/css">

h2{font-size: 20pt;margin: 0pt;}
h3{font-size: 18pt;margin: 0pt;}
h4{font-size: 14pt;margin: 0pt;}
p{font-size: 10pt;margin: 0pt;padding-left: 5pt;padding-right: 5pt;}

</style>

<!-- CARTOUCHE -->
<table style="width: 100%;margin-bottom: 5pt;">
	<thead>
		<tr>
			<th colspan="2" style="border-top: 1px solid black;border-right: 1px solid black;border-left: 1px solid black;text-align: center;">
				<h2>BTS gestion de la PME - Session 2019-2020</h2>
			</th>
		</tr>
		<tr>
			<th colspan="2" style="border-right: 1px solid black;border-left: 1px solid black;text-align: center;">
				<h3>E4 - Gérer les relations avec les clients et les fournisseurs</h3>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width: 50%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.student.user.lastName}} - {{card.student.user.firstName}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{student.user.lastName}} - {{student.user.firstName}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{card.student.user.lastName}} - {{card.student.user.firstName}}</p>{% endif %}
			</td>
			<td style="width: 50%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.student.candidateNb}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{student.candidateNb}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{card.student.candidateNb}}</p>{% endif %}
			</td>
		</tr>
	</tbody>
</table>

<!-- FICHE -->
<table style="width: 100%;margin-bottom: 5pt;">
	<thead>
		<tr>
			<th colspan="5" style="border: 1px solid black; border-collapse: collapse;text-align: center;">
				<h4>Fiche d'analyse d'une situation professionnelle</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" style="width: 33%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.prob1}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.prob1) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.prob1) }}</p>{% endif %}
			</td>
			<td colspan="2" style="width: 34%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.prob2}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.prob2) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.prob2) }}</p>{% endif %}
			</td>
			<td colspan="2" style="width: 33%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.prob3}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.prob3) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.prob3) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Identification de la situation professionnelle</p>
			</td>
			<td style="width: 10%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.numbersp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.numbersp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.numbersp) }}</p>{% endif %}
			</td>
			<td colspan="3" style="width: 70%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Modalité de réalisation</p>
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.mod1}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.mod1) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.mod1) }}</p>{% endif %}

				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.mod2}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.mod2) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.mod2) }}</p>{% endif %}

				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.mod3}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.mod3) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.mod3) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Période de réalisation</p>
			</td>
			<td style="width: 10%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				<p>Mois SP</p>
				<p>Années SP</p>
			</td>
			<td colspan="3" style="width: 70%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Condition de réalisation</p>
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.cond1}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.cond1) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.cond1) }}</p>{% endif %}

				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.cond2}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.cond2) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.cond2) }}</p>{% endif %}

				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.cond3}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.cond3) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.cond3) }}</p>{% endif %}

			</td>
		</tr>
		<tr>
			<td style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Activités concernées</p>
			</td>
			<td colspan="4" style="width: 80%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Activité 1.1 Recherche de clientèle et contact</p>
				<p>Activité 1.2 Administration des ventes de la PME</p>
				<p>Activité 1.3 Maintien et développement de la relation avec les clients de la PME</p>
				<p>Activité 1.4 Recherche et choix des fournisseurs de la PME</p>
				<p>Activité 1.5 Suivi et contrôle des opérations d’achats et d'investissement de la PME</p>
				<p>Activité 1.6 Suivi comptable des opérations avec les clients et les fournisseurs de la PME</p>
			</td>
		</tr>
		<tr>
			<td style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Intitulé de la situation professionnelle</p>
			</td>
			<td colspan="4" style="width: 80%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.entitledsp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.entitledsp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.entitledsp) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Lieu, période et durée de réalisation</p>
			</td>
			<td colspan="4" style="width: 80%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.infossp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.infossp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.infossp) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Cadre de la situation professionnelle</p>
			</td>
			<td colspan="4" style="width: 80%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.framesp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.framesp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.framesp) }}</p>{% endif %}
			</td>
		</tr>
	</tbody>
</table>

<!-- PROBLEME -->
<table style="width: 100%;margin-bottom: 5pt;">
	<thead>
		<tr>
			<th colspan="6" style="width: 100%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				<h4>Problème de gestion soulevé et enjeux de la situation</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" style="width: 33%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.prob1}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.prob1) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.prob1) }}</p>{% endif %}
			</td>
			<td colspan="2" style="width: 34%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.prob2}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.prob2) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.prob2) }}</p>{% endif %}
			</td>
			<td colspan="2" style="width: 33%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.prob3}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.prob3) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.prob3) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan="2" style="width: 33%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.problemmanagsp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.problemmanagsp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.problemmanagsp) }}</p>{% endif %}
			</td>
			<td colspan="2" style="width: 34%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.problemcomosp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.problemcomosp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.problemcomosp) }}</p>{% endif %}
			</td>
			<td colspan="2" style="width: 33%;border: 1px solid black; border-collapse: collapse;text-align: center;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.problemcomwsp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.problemcomwsp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.problemcomwsp) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Acteurs et relation entre les acteurs</p>
			</td>
			<td colspan="5" style="width: 80%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.actorssp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.actorssp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.actorssp) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Objectif</p>
			</td>
			<td colspan="5" style="width: 80%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.targetsp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.targetsp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.targetsp) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Conditions de réalisation : contraintes dont le processus et organisation comptable, environnement numérique</p>
			</td>
			<td colspan="5" style="width: 80%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.conditionssp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.conditionssp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.conditionssp) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Ressources à disposition</p>
			</td>
			<td colspan="5" style="width: 80%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.resourcessp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.resourcessp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.resourcessp) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Solutions logicielles choisies et fonctionnalités mobilisées</p>
			</td>
			<td colspan="5" style="width: 80%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.answerssp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.answerssp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.answerssp) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Productions réalisées</p>
			</td>
			<td colspan="5" style="width: 80%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.productionssp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.productionssp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.productionssp) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Ecrits professionnels produits</p>
			</td>
			<td colspan="5" style="width: 80%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.writtensp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.writtensp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.writtensp) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width: 20%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Oraux professionnels</p>
			</td>
			<td colspan="5" style="width: 80%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.oralsp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.oralsp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.oralsp) }}</p>{% endif %}
			</td>
		</tr>
	</tbody>
</table>

<!-- ANALYSE -->
<table class="page" style="width: 100%;margin-bottom: 5pt;">
	<thead>
		<tr>
			<th colspan="5" style="border: 1px solid black; border-collapse: collapse;text-align: center;">
				<h4>Analyse</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width: 10%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Analyse de la situation</p>
			</td>
			<td style="width: 90%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.analysissp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.analysissp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.analysissp) }}</p>{% endif %}
			</td>
		</tr>
		<tr>
			<td style="width: 10%;border: 1px solid black; border-collapse: collapse;text-align: left;">
				<p>Contribution de la situation professionnelle à la professionnalisation</p>
			</td>
			<td style="width: 90%;border: 1px solid black; border-collapse: collapse;text-align: left;vertical-align: top;">
				{% if app.request.attributes.get('_route') == "card_show" %}<p>{{card.contributionsp}}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_new" %}<p>{{ form_row(form.contributionsp) }}</p>{% endif %}
				{% if app.request.attributes.get('_route') == "card_modify" %}<p>{{ form_row(form.contributionsp) }}</p>{% endif %}
			</td>
		</tr>
	</tbody>
</table>
