{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

{# formulaire de modification d'une classe #}
{{ form_start(form) }}

<div class="form-group">
	<label>Selectionner l'établissement :</label>
	<select class="form-control" name="id">
		{% for estab in estabs %}
		{% set selected = "" %}
		{% if estab.id == choix_estab %}
		{% set selected = "selected" %}
		{% endif %}
		<option value="{{ estab.id }}" {{ selected }}>{{ estab.name }}</option>
		{% endfor %}
	</select>	
</div>
{{ form_row(form.degree, {'label':'Diplome :'}) }}
{{ form_row(form.startDate, {'label':'Date de début :'}) }}
{{ form_row(form.endDate, {'label':'Date de fin :'}) }}
{{ form_row(form.exist, {'label':'Activer la classe :'}) }}

<button class="btn btn-primary">Mettre à jour</button>
{% if app.user.roles[0] == "ROLE_SADMIN" %}
    <a href=" {{ path('classroom_delete', {'id': classroom.id}) }}" class="btn btn-danger">Supprimer</a>
{% endif %}

{{ form_end(form) }}

{% endblock %}
