{% extends 'base.html.twig' %}

{% block title %}Liste des classes{% endblock %}
{% block pagetitle %}<h1 class="text-center mt-1">Liste des classes</h1>{% endblock %}
{% block body %}

{% include 'partials/menu.html.twig' %}
<table class="table table-bordered table-striped mb-0">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for classroom in classrooms %}
		<tr>
			<td><input type="checkbox" name="card" value="{{classroom.id}}"></td>
			<td>{{classroom.slug}}</td>
			<td>{{classroom.degree}}</td>
			<td>{{classroom.startdate | date("Y") }}</td>
			<td>{{classroom.enddate | date("Y") }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
