{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

	{% block body %}

		{# formulaire de création d'un administrateur #}
		{{ form_start(form) }}
		{{ form_row(form.establishment, {'label':'Selectionner l\'établissement :', 'attr':{'onchange':"alert(this.options[selectedIndex].value)"}}) }}
		





		<label class="form-check-label" id="classes" for="classroom">Selectionner les classes :</label>
		{% for establishment in establishments %}
			<div class="form-inline" id="{{establishment.id}}">establishment {{establishment.id}}
				{% for classroom in establishment.classrooms %}
					<input class="form-check-input ml-4 mr-1 mt-2 mb-3" type="checkbox" id="classroom{{classroom.id}}" name="classroom[]" value="{{classroom.id}}"><label class=" mx-1 mt-2 mb-3" for="classroom{{classroom.id}}">{{classroom.degree}}</label>
				{% endfor %}
			</div>
		{% endfor %}



		{{ form_row(form.user.lastName, {'label':'Nom :'}) }}
		{{ form_row(form.user.firstName, {'label':'Prénom :'}) }}
		{{ form_row(form.user.email, {'label':'Email :'}) }}
		{{ form_row(form.user.exist, {'label':"Activer l'enseignant :"}) }}
		{{ form_row(form.save, {'label':"Enregistrer"}) }}
		{{ form_end(form) }}
		

		<script>

		var select = document.getElementById("teacher_establishment" );
		var valeur = select.options[select.selectedIndex].value;

		teacher_establishment.addEventListener('onchange',recup);
		function recup(){
			document.write(valeur);
			alert(valeur);
		};
		</script>
	{% endblock %}
	