{% extends 'base.html.twig' %}

{% block body %}

    {# Affichage du tableau des enseignants #}
    <div class="row">
        <div class="col-3">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nom : {{teacher.user.lastName | upper }}</li>
                    <li class="list-group-item">Prénom : {{teacher.user.firstName}}</li>
                    <li class="list-group-item">Email : {{teacher.user.email}}</li>
                    <li class="list-group-item">Etablissement : {{teacher.establishment.name}}</li>
                    <li class="list-group-item">Administrateur : {% for admin in teacher.establishment.admins %}{{admin.user.lastName | default('non assigné')}} {{admin.user.firstName | default('')}}{% endfor %}</li>
                    <li class="list-group-item">Crée le : {{ teacher.user.createdAt | date("d/m/Y") }}</li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            {% for classroom in teacher.classrooms %}
                <h5>Classe {{classroom.degree}}</h5>
                {% set students = classroom.students %}
                    {% include 'partials/tables/student.html.twig' %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}