{% extends 'base.html.twig' %}

{% block body %}

    {# Affichage du tableau des enseignants #}
    <div class="row">
        <div class="col-3">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nom : {{teacher.user.lastName}}</li>
                    <li class="list-group-item">Prénom : {{teacher.user.firstName}}</li>
                    <li class="list-group-item">Email : {{teacher.user.email}}</li>
                    <li class="list-group-item">Etablissement : {{teacher.establishment.name}}</li>
                    <li class="list-group-item">Crée le : {{ teacher.createdAt | date("d/m/Y") }}</li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            {% for classroom in teacher.classrooms %}
                <h5>Classe {{classroom.degree}}</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Classe</th>
                            <th scope="col">Etablissement</th>
                            <th scope="col">Actif</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in classroom.students %}
                            <tr>
                                <td><a href="{{ path('student_show', {'id': student.id,}) }}">{{ student.id }}</a></td>
                                <td><a href="{{ path('student_show', {'id': student.id,}) }}">{{ student.user.firstName }}</a></td>
                                <td><a href="{{ path('student_show', {'id': student.id,}) }}">{{ student.user.lastName }}</a></td>
                                <td><a href="{{ path('student_show', {'id': student.id,}) }}">{{ student.user.email }}</a></td>
                                <td><a href="{{ path('classroom_show', {'id': student.classroom.id,}) }}">{{ student.classroom.degree }}</a></td>
                                <td><a href="{{ path('establishment_show', {'id': student.establishment.id,}) }}">{{ student.establishment.name }}</a></td>
                                <td><a class="{% if student.user.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('student_show', {'id': student.id}) }}">{% if student.user.exist == 1 %} oui {% else %} non {% endif %}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}