{% extends 'base.html.twig' %}

{% block body %}

    {# Affichage du tableau des établissements #}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Ville</th>
                <th scope="col">Département</th>
                <th scope="col">Actif</th>
            </tr>
        </thead>
        <tbody>
            {% if result is defined %}
                {% for estab in result %}
                    <tr>
                        <td><a href="{{ path('establishment_modify', {'id': estab.id}) }}">{{ estab.id }}</a></td>
                        <td><a href="{{ path('establishment_modify', {'id': estab.id}) }}">{{ estab.name }}</a></td>
                        <td><a href="{{ path('establishment_modify', {'id': estab.id}) }}">{{ estab.adress }}</a></td>
                        <td><a href="{{ path('establishment_modify', {'id': estab.id}) }}">{{ estab.postalcode }}</a></td>
                        <td><a href="{{ path('establishment_modify', {'id': estab.id}) }}">{{ estab.city }}</a></td>
                        <td><a href="{{ path('department_modify', {'id': estab.department.id}) }}">{{ estab.department.name }}</a></td>
                        <td><a class="{% if estab.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('establishment_modify', {'id': estab.id, 'slug': estab.slug}) }}">{% if estab.exist == 1 %} oui {% else %} non {% endif %}</a></td>
                    </tr>  
                {% endfor %}
            {% else %}
                {% for estab in estabs %}
                    <tr>
                        <td><a href="{{ path('establishment_modify', {'id': estab.id,}) }}">{{ estab.id }}</a></td>
                        <td><a href="{{ path('establishment_modify', {'id': estab.id,}) }}">{{ estab.name }}</a></td>
                        <td><a href="{{ path('establishment_modify', {'id': estab.id,}) }}">{{ estab.adress }}</a></td>
                        <td><a href="{{ path('establishment_modify', {'id': estab.id,}) }}">{{ estab.postalcode }}</a></td>
                        <td><a href="{{ path('establishment_modify', {'id': estab.id,}) }}">{{ estab.city }}</a></td>
                        <td><a href="{{ path('department_modify', {'id': estab.department.id}) }}">{{ estab.department.name }}</a></td>
                        <td><a class="{% if estab.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('establishment_modify', {'id': estab.id, 'slug': estab.slug}) }}">{% if estab.exist == 1 %} oui {% else %} non {% endif %}</a></td>
                    </tr>  
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
