{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

{# formulaire de modification de département #}
{{ form_start(form) }}

{{ form_row(form.name, {'label':'Nom du département :'}) }}
{{ form_row(form.exist, {'label':'Activer le département :'}) }}

<button class="btn btn-primary">Mettre à jour le département</button>

{% if app.user.roles[0] == "ROLE_SADMIN" %}
    <a href="{{ path('department_delete', {'id': department.id}) }}" class="btn btn-danger">Supprimer</a>
{% endif %}

{{ form_end(form) }}

{% endblock %}
