{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

	{% block body %}

		{# formulaire de modification d'un administrateur #}
		{{ form_start(form) }}

		<div class="form-group">
			<label for="establishment">Selectionner l'établissement :</label>
			<select class="form-control" id="establishment" name="establishment_choice">
				{% for establishment in establishments %}{% set selected = "" %}
					{% if app.request.request.get('establishment_choice') is defined and establishment.id == app.request.request.get('establishment_choice') %}{% set selected = "selected" %}
					{% endif %}
					<option value="{{establishment.id}}" {{selected}}>{{establishment.name}}</option>
				{% endfor %}
			</select>
		</div>

		{{ form_row(form.lastName, {'label':'Nom :'}) }}
		{{ form_row(form.firstName, {'label':'Prénom :'}) }}
		{{ form_row(form.email, {'label':'Email :'}) }}
		{{ form_row(form.exist, {'label':"Activer l'administrateur :"}) }}

		<button type="submit" class="btn btn-primary">Mettre à jour</button>

		{{ form_end(form) }}

	{% endblock %}
