{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

	{% block body %}

		{# formulaire de modification d'un administrateur #}
		{{ form_start(form) }}
		{{ form_row(form.establishment) }}
		{{ form_row(form.user.lastName) }}
		{{ form_row(form.user.firstName) }}
		{{ form_row(form.user.email) }}
		{{ form_row(form.user.exist) }}
		{{ form_row(form.save) }}
		{{ form_end(form) }}
		<p>* champs obligatoires</p>

	{% endblock %}