{% extends 'base.html.twig' %}

{% block body %}

	{# Affichage d'un administrateur #}
	<div class="row">
		<div class="col-3">
			<div class="card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Nom : {{admin.user.lastName | upper }}</li>
					<li class="list-group-item">Prénom : {{admin.user.firstName}}</li>
					<li class="list-group-item">Email : {{admin.user.email}}</li>
					<li class="list-group-item">Etablissement : {{admin.establishment.name | default('non assigné')}}</li>
					<li class="list-group-item">Crée le : {{ admin.user.createdAt | date("d/m/Y") }}</li>
				</ul>
			</div>
		</div>
		<div class="col-9">
			<h5>Liste des classes :</h5>
			{% include 'partials/tables/classroom.html.twig' %}
		</div>
	</div>

{% endblock %}