{% extends 'base.html.twig' %} 

{% block title %}GPME - Accueil{% endblock %}
{% block pagetitle %}<h1 class="text-center mt-1">Selection de l'établissement</h1>{% endblock %}
{% block body %}

<form method="post">
	<select name="dept">
		<option value="" selected="selected">Choix du département</option>
		{% for dept in depts %}
		{% set selected = "" %}
		{% if dept.id == app.request.request.get('dept') %}
		{% set selected = "selected" %}
		{% endif %}
		<option value="{{ dept.id }}" {{ selected }}>{{ dept.name }}</option>
		{% endfor %}
	</select>
	{% if (app.request.request.get('dept') != "") %}
	<select name="etb">
		<option value="">Choix de l'établissement</option>
		{% for etb in etbs %}
		<option value="{{ etb.slug }}">{{ etb.name }}</option>
		{% endfor %}
	</select>
	{% endif %}
	<button type="submit" class="btn btn-success">Valider</button>
</form>

{% endblock %}

{% block javascripts %}{% endblock %}
