{% extends 'base.html.twig' %}

{% block body %}

{# Affichage du tableau des fiches #}

{% if app.user.roles[0] == "ROLE_USER" %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">progression</th>
            <th scope="col">Actif</th>
        </tr>
    </thead>
    <tbody>
        {% for card in cards %}
        <tr>
            <td><a href="{{ path('card_show', {'id': card.id,}) }}">{{ card.id }}</a></td>
            <td><a href="{{ path('card_show', {'id': card.id,}) }}"><div class="progress my-1"><div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div></div></a></td>
            <td><a class="{% if card.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('card_show', {'id': card.id}) }}">{% if card.exist == 1 %} oui {% else %} non {% endif %}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if app.user.roles[0] == "ROLE_TEACHER" %}
{% for student in students %}
<h6>Liste des fiches de {{student.user.lastName}}</h6>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">progression</th>
            <th scope="col">Actif</th>
        </tr>
    </thead>
    <tbody>
        {% for card in student.cards %}
        <tr>
            <td><a href="{{ path('card_show', {'id': card.id,}) }}">{{ card.id }}</a></td>
            <td><a href="{{ path('card_show', {'id': card.id,}) }}"><div class="progress my-1"><div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div></div></a></td>
            <td><a class="{% if card.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('card_show', {'id': card.id}) }}">{% if card.exist == 1 %} oui {% else %} non {% endif %}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endif %}

{% if app.user.roles[0] == "ROLE_ADMIN" %}
{% for classroom in classrooms %}
<h5>Liste des fiches de {{classroom.degree}}</h5>
{% for student in classroom.students %}
<h6>Liste des fiches de {{student.user.lastName}}</h6>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">progression</th>
            <th scope="col">Actif</th>
        </tr>
    </thead>
    <tbody>
        {% for card in student.cards %}
        <tr>
            <td><a href="{{ path('card_show', {'id': card.id,}) }}">{{ card.id }}</a></td>
            <td><div class="progress my-1"><div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div></div></td>
            <td><a class="{% if card.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('card_show', {'id': card.id}) }}">{% if card.exist == 1 %} oui {% else %} non {% endif %}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endfor %}
{% endif %}

{% if app.user.roles[0] == "ROLE_SADMIN" %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Etudiant</th>
            <th scope="col">progression</th>
            <th scope="col">Actif</th>
        </tr>
    </thead>
    <tbody>
        {% for card in cards %}
        <tr>
            <td><a href="{{ path('card_show', {'id': card.id,}) }}">{{ card.id }}</a></td>
            <td><a href="{{ path('student_show', {'id': card.student.id,}) }}">{{ card.student.user.lastName }}</a></td>
            <td><div class="progress my-1"><div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div></div></td>
            <td><a class="{% if card.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('card_show', {'id': card.id}) }}">{% if card.exist == 1 %} oui {% else %} non {% endif %}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
