{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

	{% block body %}

		{{ form_start(form) }}

		{{ form_row(form.exist, {'label':"Activer la fiche de situation professionnelle :"}) }}
		{{ form_row(form.associate, {'label':"Associer la fiche au passeport professionnel :"}) }}

		<!-- CARTOUCHE -->
		<table class="table table-bordered w-100 mb-3">
			<tr>
				<th colspan="2" class="text-center">
					<h2 class="m-1 p-0">BTS gestion de la PME - Session 2019-2020</h2>
				</th>
			</tr>
			<tr>
				<th colspan="2" class="text-center">
					<h3 class="m-1 p-0">E4 - Gérer les relations avec les clients et les fournisseurs</h3>
				</th>
			</tr>
			<tr>
				<td class="w-50">
					<p class="m-1 p-0 text-center">{{card.student.user.lastName}} - {{card.student.user.firstName}}</p>
				</td>
				<td class="w-50">
					<p class="m-1 p-0 text-center">{{card.student.candidateNb}}</p>
				</td>
			</tr>
		</table>

		<!-- FICHE -->
		<table class="table table-bordered w-100 m-0">
			<tr>
				<th colspan="3" class="text-center">
					<h4 class="m-1 p-0">Fiche d'analyse d'une situation professionnelle</h4>
				</th>
			</tr>
		</table>

		<table class="table table-bordered w-100 mb-3">
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Identification de la situation professionnelle</p>
				</td>
				<td style="width: 15%;" class="text-center m-0 p-1">
					
				</td>
				<td>
					<p class="m-1 p-0">Modalité de réalisation</p>
					{{ form_label(form.modality) }}{{ form_widget(form.modality, {'attr': {'class' : 'form-control-sm'}}) }}
				</td>
			</tr>
			<tr>
				<td>
					<p class="m-1 p-0">Période de réalisation</p>
				</td>
				<td class="text-center">
					<p class="m-1 p-0">Mois SP</p>{{ form_label(form.monthsp) }}{{ form_widget(form.monthsp, {'attr': {'class' : 'form-control-sm'}}) }}
					<p class="m-1 p-0">Années SP</p>{{ form_label(form.yearsp) }}{{ form_widget(form.yearsp, {'attr': {'class' : 'form-control-sm'}}) }}
				</td>
				<td colspan="3">
					<p class="m-1 p-0">Condition de réalisation</p>
					{{ form_label(form.term) }}{{ form_widget(form.term, {'attr': {'class' : 'form-control-sm'}}) }}
				</td>
			</tr>
			<tr>
				<td>
					<p class="m-1 p-0">Activités concernées</p>
				</td>
				<td colspan="2">
					{{ form_label(form.activity) }}{{ form_widget(form.activity, {'attr': {'class' : 'form-control-sm','onchange':"recupActivity();"}}) }}
				</td>
			</tr>
			<tr>
				<td>
					<p class="m-1 p-0">Tâches concernées</p>
				</td>
				<td colspan="2">
					{% for activity in activities %}
						<div class="form-group activity d-none" id="activity_{{activity.id}}">
							{% for task in activity.tasks %}{% set checked = "" %}
								{% for task_checked in card.tasks %}
									{% if task.id == task_checked.id %}{% set checked = "checked" %}
									{% endif %}
								{% endfor %}
								<input id="task_{{task.id}}" type="checkbox" {{ checked }} name="task[]" value="{{task.id}}"><label for="task_{{task.id}}" class="ml-2">{{task.number}} {{task.name}}</label><br>
							{% endfor %}
						</div>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>
					<p class="m-1 p-0">Intitulé de la situation professionnelle</p>
				</td>
				<td colspan="2">
					<p class="m-1 p-0">{{ form_row(form.entitledsp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="m-1 p-0">Lieu, période et durée de réalisation</p>
				</td>
				<td colspan="2">
					<p class="m-1 p-0">{{ form_row(form.infossp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="m-1 p-0">Cadre de la situation professionnelle</p>
				</td>
				<td colspan="2">
					<p class="m-1 p-0">{{ form_row(form.framesp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
		</table>

		<!-- PROBLEME -->
		<table class="table table-bordered w-100 mb-3">
			<tr>
				<th colspan="2" class="text-center">
					<h4 class="m-1 p-0">Problème de gestion soulevé et enjeux de la situation</h4>
				</th>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Type de problème</p>
				</td>
				<td colspan="3" class="text-center">
					{{ form_label(form.problem) }}{{ form_widget(form.problem, {'attr': {'class' : 'form-control-sm','onchange':"recupProblem();"}}) }}
				</td>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Descriptif du problème</p>
				</td>
				<td>
					<div class="form-group problem d-none" id="problem_1">{{ form_widget(form.problemmanagsp, {'attr': {'class' : 'form-control-sm'}}) }}</div>
					<div class="form-group problem d-none" id="problem_2">{{ form_widget(form.problemcomosp, {'attr': {'class' : 'form-control-sm'}}) }}</div>
					<div class="form-group problem d-none" id="problem_3">{{ form_widget(form.problemcomwsp, {'attr': {'class' : 'form-control-sm'}}) }}</div>
				</td>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Acteurs et relation entre les acteurs</p>
				</td>
				<td style="width: 85%;">
					<p class="m-1 p-0">{{ form_row(form.actorssp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Objectif</p>
				</td>
				<td style="width: 85%;">
					<p class="m-1 p-0">{{ form_row(form.targetsp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Conditions de réalisation : contraintes dont le processus et organisation comptable, environnement numérique</p>
				</td>
				<td style="width: 85%;">
					<p class="m-1 p-0">{{ form_row(form.conditionssp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Ressources à disposition</p>
				</td>
				<td style="width: 85%;">
					<p class="m-1 p-0">{{ form_row(form.resourcessp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Solutions logicielles choisies et fonctionnalités mobilisées</p>
				</td>
				<td style="width: 85%;">
					<p class="m-1 p-0">{{ form_row(form.answerssp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Productions réalisées</p>
				</td>
				<td style="width: 85%;">
					<p class="m-1 p-0">{{ form_row(form.productionssp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Ecrits professionnels produits</p>
				</td>
				<td style="width: 85%;">
					<p class="m-1 p-0">{{ form_row(form.writtensp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Oraux professionnels</p>
				</td>
				<td style="width: 85%;">
					<p class="m-1 p-0">{{ form_row(form.oralsp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
		</table>

		<!-- ANALYSE -->
		<table class="table table-bordered w-100 mb-3">
			<tr>
				<th colspan="2" class="text-center">
					<h4 class="m-1 p-0">Analyse</h4>
				</th>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Analyse de la situation</p>
				</td>
				<td style="width: 85%;">
					<p class="m-1 p-0">{{ form_row(form.analysissp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p class="m-1 p-0">Contribution de la situation professionnelle à la professionnalisation</p>
				</td>
				<td style="width: 85%;">
					<p class="m-1 p-0">{{ form_row(form.contributionsp, {'attr': {'class' : 'form-control-sm'}}) }}</p>
				</td>
			</tr>
		</table>

		{{ form_row(form.save, {'label':"Mettre à jour"}) }}
		{{ form_end(form) }}

	{% endblock %}
	{% block javascripts %}
		<script>
		var select_problem = document.getElementById("card_problem" );
		card_problem.addEventListener('onchange',recupProblem);
		function recupProblem(){
			var valeur_problem = select_problem.options[select_problem.selectedIndex].value;
			$(".problem").addClass("d-none");
			$("#problem_"+valeur_problem).removeClass("d-none");
			// console.log(valeur_problem);
		};
		$(document).ready(function(){
			recupProblem();
		});

		var select_activity = document.getElementById("card_activity" );
		card_activity.addEventListener('onchange',recupActivity);
		function recupActivity(){
			var valeur_activity = select_activity.options[select_activity.selectedIndex].value;
			$(".activity").addClass("d-none");
			$("#activity_"+valeur_activity).removeClass("d-none");
			// console.log(valeur_activity);
		};
		$(document).ready(function(){
			recupActivity();
		});
		</script>
	{% endblock %}