{% extends 'base.html.twig' %}

{% block body %}

    {# Affichage du tableau des départements #}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Actif</th>
            </tr>
        </thead>
        <tbody>
            {% if result is defined %}
                {% for dept in result %}
                    <tr>
                        <td><a href="{{ path('department_show', {'id': dept.id}) }}">{{ dept.id }}</a></td>
                        <td><a href="{{ path('department_show', {'id': dept.id}) }}">{{ dept.name }}</a></td>
                        <td><a class="{% if dept.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('department_show', {'id': dept.id}) }}">{% if dept.exist == 1 %} oui {% else %} non {% endif %}</a></td>
                    </tr>  
                {% endfor %}
            {% else %}
                {% for dept in depts %}
                    <tr>
                        <td><a href="{{ path('department_show', {'id': dept.id}) }}">{{ dept.id }}</a></td>
                        <td><a href="{{ path('department_show', {'id': dept.id}) }}">{{ dept.name }}</a></td>
                        <td><a class="{% if dept.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('department_show', {'id': dept.id}) }}">{% if dept.exist == 1 %} oui {% else %} non {% endif %}</a></td>
                    </tr>  
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
