<div class="row pl-3 pr-3">
	<form action="{{ path('index_passport') }}" class="form-group mx-1" method="post">
		<button class="btn btn-{% if (app.request.request.get('menu') == "passport") %}success{% else %}primary{% endif %}" name="menu" value="passport">Passeport</button>
	</form>
	<form action="{{ path('index_cardsp') }}" class="form-group mx-1" method="post">
		<button class="btn btn-{% if (app.request.request.get('menu') == "cardsp") %}success{% else %}primary{% endif %}" name="menu" value="cardsp">Fiches SP</button>
	</form>
	<form action="{{ path('show_student')}}" class="form-group mx-1" method="post">
		<button class="btn btn-{% if (app.request.request.get('menu') == "student") %}success{% else %}primary{% endif %}" name="menu" value="student">Etudiants</button>
	</form>
	<form action="" class="form-group mx-1" method="post">
		<button class="btn btn-{% if (app.request.request.get('menu') == "teacher") %}success{% else %}primary{% endif %}" name="menu" value="teacher">Enseignants</button>
	</form>
	<form action="" class="form-group mx-1" method="post">
		<button class="btn btn-{% if (app.request.request.get('menu') == "admin") %}success{% else %}primary{% endif %}" name="menu" value="admin">Administrateurs</button>
	</form>
	<form action="{{ path('index_classroom') }}" class="form-group mx-1" method="post">
		<button class="btn btn-{% if (app.request.request.get('menu') == "classroom") %}success{% else %}primary{% endif %}" name="menu" value="classroom">Classes</button>
	</form>
	<form action="{{ path('index_establishment') }}" class="form-group mx-1" method="post">
		<button class="btn btn-{% if (app.request.request.get('menu') == "establishment") %}success{% else %}primary{% endif %}" name="menu" value="establishment">Etablissements</button>
	</form>	
</div>
{% if app.request.request.get('menu') == "passport" %}
<div class="row pl-3 pr-3">
	<form action="#" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "print") %}success{% else %}primary{% endif %}" name="option" value="print">Imprimer</button>
	</form>
</div>
{% elseif app.request.request.get('menu') == "cardsp" %}
<div class="row pl-3 pr-3">
	<form action="{{ path('show_cardsp') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "view") %}success{% else %}primary{% endif %}" name="option" value="view">Voir</button>
	</form>
	<form action="{{ path('new_cardsp') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "new") %}success{% else %}primary{% endif %}" name="option" value="new">Ajouter</button>
	</form>
	<form action="{{ path('duplicate_cardsp') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "duplicate") %}success{% else %}primary{% endif %}" name="option" value="duplicate">Dupliquer</button>
	</form>
	<form action="{{ path('modify_cardsp') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "modify") %}success{% else %}primary{% endif %}" name="option" value="modify">Modifier</button>
	</form>
	<form action="{{ path('print_cardsp') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "print") %}success{% else %}primary{% endif %}" name="option" value="print">Imprimer</button>
	</form>
	<form action="{{ path('delete_cardsp') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "delete") %}success{% else %}primary{% endif %}" name="option" value="delete">Supprimer</button>
	</form>
</div>
{% elseif app.request.request.get('menu') == "student" %}
<div class="row pl-3 pr-3">
	<form action="{{ path('show_student') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "view") %}success{% else %}primary{% endif %}" name="option" value="view">Voir</button>
	</form>
	<form action="{{ path('new_user') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "new") %}success{% else %}primary{% endif %}" name="option" value="new">Ajouter</button>
	</form>
	<form action="{{ path('modify_user') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "modify") %}success{% else %}primary{% endif %}" name="option" value="modify">Modifier</button>
	</form>
	<form action="{{ path('delete_user') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "delete") %}success{% else %}primary{% endif %}" name="option" value="delete">Supprimer</button>
	</form>
</div>
{% elseif app.request.request.get('menu') == "teacher" %}
<div class="row pl-3 pr-3">
	<form action="{{ path('show_teacher') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "view") %}success{% else %}primary{% endif %}" name="option" value="view">Voir</button>
	</form>
	<form action="{{ path('new_user') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "new") %}success{% else %}primary{% endif %}" name="option" value="new">Ajouter</button>
	</form>
	<form action="{{ path('modify_user') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "modify") %}success{% else %}primary{% endif %}" name="option" value="modify">Modifier</button>
	</form>
	<form action="{{ path('delete_user') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "delete") %}success{% else %}primary{% endif %}" name="option" value="delete">Supprimer</button>
	</form>
</div>
{% elseif app.request.request.get('menu') == "admin" %}
<div class="row pl-3 pr-3">
	<form action="{{ path('show_admin') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "view") %}success{% else %}primary{% endif %}" name="option" value="view">Voir</button>
	</form>
	<form action="{{ path('new_user') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "new") %}success{% else %}primary{% endif %}" name="option" value="new">Ajouter</button>
	</form>
	<form action="{{ path('modify_user') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "modify") %}success{% else %}primary{% endif %}" name="option" value="modify">Modifier</button>
	</form>
	<form action="{{ path('delete_user') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "delete") %}success{% else %}primary{% endif %}" name="option" value="delete">Supprimer</button>
	</form>
</div>
{% elseif app.request.request.get('menu') == "classroom" %}
<div class="row pl-3 pr-3">
	<form action="{{ path('show_classroom') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "view") %}success{% else %}primary{% endif %}" name="option" value="view">Voir</button>
	</form>
	<form action="{{ path('new_classroom') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "new") %}success{% else %}primary{% endif %}" name="option" value="new">Ajouter</button>
	</form>
	<form action="{{ path('edit_classroom') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "modify") %}success{% else %}primary{% endif %}" name="option" value="modify">Modifier</button>
	</form>
	<form action="{{ path('delete_classroom') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "delete") %}success{% else %}primary{% endif %}" name="option" value="delete">Supprimer</button>
	</form>
</div>
{% elseif app.request.request.get('menu') == "establishment" %}
<div class="row pl-3 pr-3">
	<form action="{{ path('show_cardsp') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "view") %}success{% else %}primary{% endif %}" name="option" value="view">Voir</button>
	</form>
	<form action="{{ path('new_cardsp') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "new") %}success{% else %}primary{% endif %}" name="option" value="new">Ajouter</button>
	</form>
	<form action="{{ path('modify_cardsp') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "modify") %}success{% else %}primary{% endif %}" name="option" value="modify">Modifier</button>
	</form>
	<form action="{{ path('delete_cardsp') }}" class="form-group mx-1" method="post">
		<input type="hidden" name="menu" value="{{ app.request.request.get('menu') }}">
		<button class="btn btn-sm btn-{% if (app.request.request.get('option') == "delete") %}success{% else %}primary{% endif %}" name="option" value="delete">Supprimer</button>
	</form>
</div>
{% else %}
{% endif %}


