<!-- menu principal -->
<div id="menu_principal" class="my-3 d-flex flex-wrap justify-content-center">

	<a href="{{ path('tchat_show_list') }}" class="m-1 btn btn-{% if (app.request.attributes.get('_route') | slice(0,9) == "messaging") %}success{% else %}primary{% endif %}">Discussions</a>
	<a href="{{ path('passport_show_list') }}" class="m-1 btn btn-{% if (app.request.attributes.get('_route') | slice(0,8) == "passport") %}success{% else %}primary{% endif %}">Tableaux</a>
	<a href="{{ path('card_show_list') }}" class="m-1 btn btn-{% if (app.request.attributes.get('_route') | slice(0,4) == "card") %}success{% else %}primary{% endif %}">Fiches SP</a>
	<a href="{{ path('student_show_list') }}" class="m-1 btn btn-{% if (app.request.attributes.get('_route') | slice(0,7) == "student") %}success{% else %}primary{% endif %}">Etudiants</a>
	<a href="{{ path('teacher_show_list') }}" class="m-1 btn btn-{% if (app.request.attributes.get('_route') | slice(0,7) == "teacher") %}success{% else %}primary{% endif %}">Enseignants</a>
	<a href="{{ path('classroom_show_list') }}" class="m-1 btn btn-{% if (app.request.attributes.get('_route') | slice(0,9) == "classroom") %}success{% else %}primary{% endif %}">Classes</a>
	<div class="dropdown">
		<button class="m-1 btn btn-{% if (app.request.attributes.get('_route') | slice(0,11) == "referentiel") %}success{% else %}primary{% endif %} dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Référentiel
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="{{ path('referentiel_activity_list') }}">Activités</a>
			<a class="dropdown-item" href="{{ path('referentiel_task_list') }}">Tâches</a>
			<a class="dropdown-item" href="{{ path('referentiel_problem_list') }}">Problématiques</a>
			<a class="dropdown-item" href="{{ path('referentiel_modality_list') }}">Modalités</a>
			<a class="dropdown-item" href="{{ path('referentiel_term_list') }}">Conditions</a>
		</div>
	</div>
	<a href="{{ path('admin_show_list') }}" class="m-1 btn btn-{% if (app.request.attributes.get('_route') | slice(0,5) == "admin") %}success{% else %}primary{% endif %}">Administrateurs</a>
	<a href="{{ path('establishment_show_list') }}" class="m-1 btn btn-{% if (app.request.attributes.get('_route') | slice(0,13) == "establishment") %}success{% else %}primary{% endif %}">Etablissements</a>
	<a href="{{ path('department_show_list') }}" class="m-1 btn btn-{% if (app.request.attributes.get('_route') | slice(0,10) == "department") %}success{% else %}primary{% endif %}">Départements</a>
	<a href="{{ path('pwd_forget_show_list') }}" class="m-1 btn btn-{% if (app.request.attributes.get('_route') | slice(0,10) == "pwd_forget") %}success{% else %}primary{% endif %}">MDP oubliés</a>

</div>

{# ---------------------------------------------------------------------------------------------------------------------------------------------- #}

<!-- menu secondaire -->
<div id="menu_secondaire" class="my-3">

	<!-- account -->
	{% if (app.request.attributes.get('_route') | slice(0,7) == "account") %}
		<a href="{{ path('dashboard', {'slug': app.user.slug,}) }}" class="m-1 btn btn-primary">Retour</a>
		<a href="{{ path('account_profile') }}" class="m-1 btn btn-{% if app.request.attributes.get('_route') == "account_profile" %}success{% else %}primary{% endif %}">Modification du profil</a>
		<a href="{{ path('account_password') }}" class="m-1 btn btn-{% if app.request.attributes.get('_route') == "account_password" %}success{% else %}primary{% endif %}">Modification du mot de passe</a>
	{% endif %}

	<!-- tchat -->
	{% if (app.request.attributes.get('_route') == "tchat_show_list") %}
		<a href="{{ path('tchat_new') }}" class="btn btn-sm btn-primary">Créer une discussion</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "tchat_show") %}
		<a href="{{ path('tchat_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}

	<!-- passport -->
	{% if (app.request.attributes.get('_route') == "passport_show") %}
		<a href="{{ path('passport_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
		<a href="{{ path('passport_print', {'id': passport.id}) }}" class="btn btn-sm btn-primary">Imprimer</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "passport_print") %}
		<a href="{{ path('passport_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
		<a href="" onclick="window.print();" class="btn btn-sm btn-primary">Imprimer</a>
	{% endif %}

	<!-- cardsp -->
	{% if (app.request.attributes.get('_route') == "card_show") %}
		<a href="{{ path('card_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
		<a href="{{ path('card_modify', {'id': card.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
		<a href="{{ path('card_print', {'id': card.id}) }}" class="btn btn-sm btn-primary">Imprimer</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "card_modify") %}
		<a href="{{ path('card_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "card_print") %}
		<a href="{{ path('card_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
		<a href="" onclick="window.print();" class="btn btn-sm btn-primary">Imprimer</a>
	{% endif %}

	<!-- student -->
	{% if (app.request.attributes.get('_route') == "student_show_list") %}
		<a href="{{ path('student_new') }}" class="btn btn-sm btn-primary">Créer un étudiant</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "student_show") %}
		<a href="{{ path('student_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
		<a href="{{ path('student_modify', {'id': student.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "student_new") %}
		<a href="{{ path('student_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "student_modify") %}
		<a href="{{ path('student_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}

	<!-- teacher -->
	{% if (app.request.attributes.get('_route') == "teacher_show_list") %}
		<a href="{{ path('teacher_new') }}" class="btn btn-sm btn-primary">Créer un enseignant</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "teacher_show") %}
		<a href="{{ path('teacher_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
		<a href="{{ path('teacher_modify', {'id': teacher.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "teacher_new") %}
		<a href="{{ path('teacher_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "teacher_modify") %}
		<a href="{{ path('teacher_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}

	<!-- classroom -->
	{% if (app.request.attributes.get('_route') == "classroom_show_list") %}
		<a href="{{ path('classroom_new') }}" class="btn btn-sm btn-primary">Créer une classe</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "classroom_show") %}
		<a href="{{ path('classroom_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
		<a href="{{ path('classroom_modify', {'id': classroom.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "classroom_new") %}
		<a href="{{ path('classroom_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "classroom_modify") %}
		<a href="{{ path('classroom_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}

	<!-- referentiel -->
	{% if (app.request.attributes.get('_route') == "referentiel_activity_list") %}
		<a href="{{ path('referentiel_activity_new') }}" class="m-1 btn btn-sm btn-primary">Nouvelle activité</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_task_list") %}
		<a href="{{ path('referentiel_task_new') }}" class="m-1 btn btn-sm btn-primary">Nouvelle tâche</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_problem_list") %}
		<a href="{{ path('referentiel_problem_new') }}" class="m-1 btn btn-sm btn-primary">Nouvelle problèmatique</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_modality_list") %}
		<a href="{{ path('referentiel_modality_new') }}" class="m-1 btn btn-sm btn-primary">Nouvelle modalité</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_term_list") %}
		<a href="{{ path('referentiel_term_new') }}" class="m-1 btn btn-sm btn-primary">Nouvelle condition</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_activity_new") %}
		<a href="{{ path('referentiel_activity_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_task_new") %}
		<a href="{{ path('referentiel_task_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_problem_new") %}
		<a href="{{ path('referentiel_problem_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_modality_new") %}
		<a href="{{ path('referentiel_modality_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_term_new") %}
		<a href="{{ path('referentiel_term_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_activity_modify") %}
		<a href="{{ path('referentiel_activity_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_task_modify") %}
		<a href="{{ path('referentiel_task_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_problem_modify") %}
		<a href="{{ path('referentiel_problem_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_modality_modify") %}
		<a href="{{ path('referentiel_modality_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "referentiel_term_modify") %}
		<a href="{{ path('referentiel_term_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}

	<!-- admin -->
	{% if (app.request.attributes.get('_route') == "admin_show_list") %}
		<a href="{{ path('admin_new') }}" class="btn btn-sm btn-primary">Créer un administrateur</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "admin_show") %}
		<a href="{{ path('admin_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
		<a href="{{ path('admin_modify', {'id': admin.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "admin_new") %}
		<a href="{{ path('admin_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "admin_modify") %}
		<a href="{{ path('admin_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}

	<!-- establishment -->
	{% if (app.request.attributes.get('_route') == "establishment_show_list") %}
		<a href="{{ path('establishment_new') }}" class="btn btn-sm btn-primary">Créer un établissement</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "establishment_show") %}
		<a href="{{ path('establishment_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
		<a href="{{ path('establishment_modify', {'id': establishment.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "establishment_new") %}
		<a href="{{ path('establishment_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "establishment_modify") %}
		<a href="{{ path('establishment_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}

	<!-- department -->
	{% if (app.request.attributes.get('_route') == "department_show_list") %}
		<a href="{{ path('department_new') }}" class="btn btn-sm btn-primary">Créer un département</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "department_show") %}
		<a href="{{ path('department_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
		<a href="{{ path('department_modify', {'id': department.id}) }}" class="btn btn-sm btn-primary">Modifier</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "department_new") %}
		<a href="{{ path('department_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "department_modify") %}
		<a href="{{ path('department_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}

	<!-- Pwd forget -->
	{% if (app.request.attributes.get('_route') == "pwd_forget_show_list") %}
		
	{% endif %}
	{# {% if (app.request.attributes.get('_route') == "pwd_forget_show") %}
		<a href="{{ path('pwd_forget_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %}
	{% if (app.request.attributes.get('_route') == "pwd_forget_new") %}
		<a href="{{ path('pwd_forget_show_list') }}" class="btn btn-sm btn-primary">Retour</a>
	{% endif %} #}
	
</div>