{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

{{ form_start(form) }}

{{ form_row(form.oldPassword, {'label':'Ancien mot de passe :'}) }}
{{ form_row(form.newPassword, {'label':'Nouveau mot de passe :'}) }}
{{ form_row(form.confirmPassword, {'label':'Confirmer le nouveau mot de passe :'}) }}

<button class="btn btn-primary">Mettre à jour</button>

{{ form_end(form) }}

{% endblock %}