{% extends 'base.html.twig' %}

{% block body %}

    {# Affichage du tableau des classes #}
    <div class="row">
        <div class="col-3">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Diplôme : {{classroom.slug | upper}}</li>
                    <li class="list-group-item">Diplôme : {{classroom.degree}}</li>
                    <li class="list-group-item">Date de début : {{classroom.startDate}}</li>
                    <li class="list-group-item">Date de fin : {{classroom.endDate}}</li>
                    <li class="list-group-item">Etablissement : {{establishment.name}}</li>
                    <li class="list-group-item">Administrateur : {% for admin in classroom.establishment.admins %}{{admin.user.lastName | default('non assigné')}} {{admin.user.lastName | default('')}}{% endfor %}</li>
                    <li class="list-group-item">Crée le : {{ classroom.createdAt | date("d/m/Y") }}</li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <h5>Liste des enseignants</h5>
            {% include 'partials/tables/teacher.html.twig' %}

            <h5>Liste des étudiants</h5>
            {% include 'partials/tables/student.html.twig' %}
        </div>
    </div>
    
{% endblock %}