{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

{# formulaire de création d'étudiant #}
{{ form_start(form) }}

{{ form_row(form.candidateNb, {'label':'N° du candidat :'}) }}
{{ form_row(form.lastName, {'label':'Nom :'}) }}
{{ form_row(form.firstName, {'label':'Prénom :'}) }}
{{ form_row(form.email, {'label':'Email :'}) }}
{{ form_row(form.birthDate, {'label':'Date de naissance :'}) }}
{{ form_row(form.exist, {'label':"Activer l'étudiant :"}) }}


<button type="submit" class="btn btn-primary">Enregistrer l'étudiant</button>

{{ form_end(form) }}

{% endblock %}