{% extends 'base.html.twig' %}

{% block body %}

    {# Affichage du tableau des enseignants #}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Etablissement</th>
                <th scope="col">Actif</th>
            </tr>
        </thead>
        <tbody>
            {% if result is defined %}
                {% for teacher in result %}
                    <tr>
                        <td><a href="{{ path('teacher_modify', {'id': teacher.id,}) }}">{{ teacher.user.id }}</a></td>
                        <td><a href="{{ path('teacher_modify', {'id': teacher.id,}) }}">{{ teacher.user.firstName }}</a></td>
                        <td><a href="{{ path('teacher_modify', {'id': teacher.id,}) }}">{{ teacher.user.lastName }}</a></td>
                        <td><a href="{{ path('teacher_modify', {'id': teacher.id,}) }}">{{ teacher.user.email }}</a></td>
                        <td><a href="{{ path('establishment_modify', {'id': teacher.establishment.id,}) }}">{{ teacher.establishment.name }}</a></td>
                        <td><a class="{% if teacher.user.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('teacher_modify', {'id': teacher.user.id}) }}">{% if teacher.user.exist == 1 %} oui {% else %} non {% endif %}</a></td>
                    </tr> 
                {% endfor %}
            {% else %}
                {% for teacher in teachers %}
                    <tr>
                        <td><a href="{{ path('teacher_modify', {'id': teacher.id,}) }}">{{ teacher.user.id }}</a></td>
                        <td><a href="{{ path('teacher_modify', {'id': teacher.id,}) }}">{{ teacher.user.firstName }}</a></td>
                        <td><a href="{{ path('teacher_modify', {'id': teacher.id,}) }}">{{ teacher.user.lastName }}</a></td>
                        <td><a href="{{ path('teacher_modify', {'id': teacher.id,}) }}">{{ teacher.user.email }}</a></td>
                        <td><a href="{{ path('establishment_modify', {'id': teacher.establishment.id,}) }}">{{ teacher.establishment.name }}</a></td>
                        <td><a class="{% if teacher.user.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('teacher_modify', {'id': teacher.user.id}) }}">{% if teacher.user.exist == 1 %} oui {% else %} non {% endif %}</a></td>
                    </tr> 
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
