{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<form method="post">
	<label class="form-control-label" for="establishment">Selectionner l'établissement :</label>
	<div class="row form-group">
		<select class="form-control col-6 mx-3" id="establishment" name="establishment">
			{% if estabs | length > 1 %}
			{% for estab in estabs %}
			<option value="{{estab.id}}">{{estab.name}}</option>
			{% endfor %}
			{% else %}
			<option value="{{estabs.id}}">{{estabs.name}}</option>
			{% endif %}
		</select>
		<button type="submit" class="btn btn-primary">Actualiser</button>
	</div>
</form>

{# formulaire de création d'un administrateur #}
{{ form_start(form) }}

{% if classrooms is defined and classrooms != 0 %}
<label class="form-check-label" for="classroom">Selectionner les classes :</label>
<div class="form-inline">
	{% for classroom in classrooms %}
	<input class="form-check-input ml-4 mr-1 mt-2 mb-3" type="checkbox" id="classroom{{classroom.id}}" name="classroom[]" value="{{classroom.id}}"><label class=" mx-1 mt-2 mb-3" for="classroom{{classroom.id}}">{{classroom.degree}}</label>
	{% endfor %}
</div>
{% endif %}
{{ form_row(form.lastName, {'label':'Nom :'}) }}
{{ form_row(form.firstName, {'label':'Prénom :'}) }}
{{ form_row(form.email, {'label':'Email :'}) }}

{{ form_row(form.exist, {'label':"Activer l'enseignant :"}) }}

<button class="btn btn-primary">Enregistrer l'administrateur</button>

{{ form_end(form) }}

{% endblock %}