{% extends 'base.html.twig' %}

{% block body %}

	<h5>Liste des activités :</h5>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Nom</th>
				<th>Compétences</th>
				<th>Tâches</th>
			</tr>
		</thead>
		<tbody>
			{% for activity in activities %}
			<tr>
				<td><a href="{{path('referentiel_activity_modify', {'id': activity.id,})}}">{{activity.number}}</a></td>
				<td><a href="{{path('referentiel_activity_modify', {'id': activity.id,})}}">{{activity.name}}</a></td>
				<td><a href="{{path('referentiel_activity_modify', {'id': activity.id,})}}">{{activity.skill}}</a></td>
				<td>
					{% for task in activity.tasks %}
					<a href="{{path('referentiel_task_modify', {'id': task.id,})}}">{{task.number}} {{task.name}}</a><br>
					{% endfor %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}