{% extends 'base.html.twig' %}

{% block body %}

    {# Affichage du tableau des étudiants #}

    <div class="row">
        <div class="col">
            <p>Nom : {{student.user.lastName}}</p>
            <p>Prénom : {{student.user.firstName}}</p>
            <p>Email : {{student.user.email}}</p>
            <p>Date de naissance : {{student.birthDate|date("d/m/Y")}}</p>
        </div>
        <div class="col">
            <p>Etablissement : {{student.establishment.name}}</p>
            <p>Classe : {{student.classroom.degree}}</p>
            <p>Professeurs : <ul>{% for teacher in student.classroom.teachers %}<li>{{teacher.user.lastName}}</li>{% endfor %}</ul></p>
        </div>
    </div>

    <h5>Passeport professionnel</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Numéro du passeport</th>
                <th scope="col">Nombre de fiches</th>
                <th scope="col">Progression</th>
                <th scope="col">Crée le</th>
                <th scope="col">Actif</th>
            </tr>
        </thead>
        <tbody>
            {% for passport in student.passports %}
                <tr>
                    <td><a href="{{ path('passport_show', {'id': passport.id,}) }}">{{ passport.id }}</a></td>
                    <td><a href="{{ path('passport_show', {'id': passport.id,}) }}">{{ student.passports|length }} fiche(s)</a></td>
                    <td><a href="{{ path('passport_show', {'id': passport.id,}) }}"><div class="progress my-1"><div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div></div></a></td>
                    <td><a href="{{ path('passport_show', {'id': passport.id,}) }}">{{ passport.createdAt|date("d/m/Y") }}</a></td>
                    <td><a></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h5>Liste des fiches d'analyse de situation professionnel</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Numéro de la fiche</th>
                <th scope="col">Progression</th>
                <th scope="col">Crée le</th>
                <th scope="col">Actif</th>
            </tr>
        </thead>
        <tbody>
            {% for card in student.cards %}
                <tr>
                    <td><a href="{{ path('card_show', {'id': card.id,}) }}">{{ card.numbersp }}</a></td>
                    <td><a href="{{ path('card_show', {'id': card.id,}) }}"><div class="progress my-1"><div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div></div></a></td>
                    <td><a href="{{ path('card_show', {'id': card.id,}) }}">{{ card.createdAt|date("d/m/Y") }}</a></td>
                    <td><a class="{% if card.exist == 1 %}text-success{% else %}text-danger{% endif %}" href="{{ path('card_show', {'id': card.id}) }}">{% if card.exist == 1 %} oui {% else %} non {% endif %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
